#inputs {
    height: 3;
}

.w-1fr {
    width: 1fr
}

Input {
    border: cyan round;
}

Input.bad {
    border: red round;
}

#verbosity {
    border: cyan round;
    width: 3;
}

DataTable {
    border: cyan round;
}
